@import url('https://fonts.googleapis.com/css?family=Poppins:400');

.current-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 7px;
    padding: 0px 100px;
    margin-bottom: 20px;
    position: relative;
    font-family: 'poppins', sans-serif;
    width: 50%;
}

.current-weather_name{
    font-size: 17px;
}

.current-weather_temp{
    font-size: 40px;
}

.current-weather_icon{
    width: 150px;
}

.current-weather_minmax{
    display: flex;
    width: 100%;
    flex-direction: row;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.current-weather_data{
    font-size: 15px;
}

.current-weather_air{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    
}

.subclass_current-weather_content{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    margin-top: 20px;
    gap: 5px;

}

.iconAir{
    display: flex;
    margin-left: 13px;
    
}
